<div class="bg-zinc-950 text-gray-100">
    <div class="grid grid-cols-2">
        <div class="flex flex-col justify-center items-center px-32 text-center">
            <p class="text-start">
                Our daily changing menu represents the best of what our local markets have to offer. 
                Our passion for sourcing fresh ingredients from farmers and suppliers we know, 
                combining with traditional flavors and rewriting familiar recipes into exceptional 
                cuisine is our mission and greatest joy.
            </p>
        </div>
        <div class="h-screen">
            <img src="pexels-valeriya-1639556.jpg" alt="Home" class="w-full h-full object-cover">
        </div>
    </div>
    <div class="grid grid-cols-2">
        <div class="h-screen">
            <img src="pexels-mikhail-nilov-8092566.jpg" alt="Home" class="w-full h-full object-cover">
        </div>
        <div class="flex flex-col justify-center items-start px-32 text-center">
            <h1 class="text-4xl my-3 font-lora">Chef Executive</h1>
            <p class="text-start">
                Experience fine dining at our restaurant, where sophistication meets culinary excellence. 
                Savor meticulously crafted dishes made from the freshest ingredients, complemented by an extensive 
                wine selection. With its refined ambiance, impeccable service, and attention to detail, 
                our restaurant offers the perfect setting for special occasions or a memorable evening out.
            </p>
        </div>
    </div>
    <div class="grid grid-cols-2">
        <div class="flex flex-col justify-center items-end px-32 text-center">
            <h1 class="text-4xl my-3 font-lora">Our Team</h1>
            <p class="text-end">
                There are many seating options available, ranging from seating for two, up to 32 people for formal dining.
            </p>
            <p class="text-end">
                In order to make a reservation for 10 or fewer guests, please use the booking form below.
            </p>
        </div>
        <div class="h-screen">
            <img src="pexels-yuraforrat-12185048.jpg" alt="Home" class="w-full h-full object-cover">
        </div>
    </div>
    <div class="grid grid-cols-2">
        <div class="h-screen"> 
            <img src="pexels-valeriya-1639563.jpg" alt="Home" class="w-full h-full object-cover">
        </div>
        <div class="flex flex-col justify-center items-center p-36 text-center">
            <h1 class="text-5xl font-bold font-lora uppercase">View our masterpieces</h1>
            <a href="#" class="transition-colors duration-300 uppercase px-4 py-2.5 mt-3 text-sm border text-gray-100 transition-colors hover:text-black hover:bg-gray-100">Gallery</a>
        </div>
    </div>
    <app-footer></app-footer>
</div>