<div class="bg-zinc-950 text-gray-100">
    <div class="grid grid-cols-2">
        <div class="flex flex-col justify-center items-center p-36 text-center">
            <h1 class="text-5xl font-bold font-lora uppercase">the noir experience</h1>
            <p class="mt-3">Our daily changing menu represents the best of what our local markets have to offer.</p>
            <a href="#" class="transition-colors duration-300 uppercase px-4 py-2.5 mt-3 text-sm border text-gray-100 transition-colors hover:text-black hover:bg-gray-100">view menu</a>
        </div>
        <div class="max-h-[40rem]"> 
            <img src="pexels-alleksana-4224314.jpg" alt="Home" class="w-full h-full object-cover">
        </div>
    </div>
    <div class="p-36 text-center font-light text-xl">
        <p class="max-w-[50rem] m-auto">
            NOIR, founded in 2022, is dedicated to all those who love to wander far and wide. 
            We invite you on a wholesome culinary adventure, where you'll explore undiscovered gourmet experiences.
        </p>
        <p class="mt-3 max-w-[50rem] m-auto">
            Thank you for creating lasting memories with us.
        </p>
    </div>
    <div class="grid grid-cols-2">
        <div>
            <div>
                <img src="pexels-eva-bronzini-5741508.jpg" alt="Home" class="w-full h-full object-cover">
            </div>
        </div>
        <div class="flex flex-col justify-center items-center px-32 text-center">
            <h1 class="text-4xl mb-3 font-lora">Food Philosophy</h1>
            <p class="">
                Our daily changing menu represents the best of what our local markets have to offer. 
                Our passion for sourcing fresh ingredients from farmers and suppliers we know, 
                combining with traditional flavors and rewriting familiar recipes into exceptional 
                cuisine is our mission and greatest joy.
            </p>
            <a href="#" class="uppercase border p-2 mt-3 hover:bg-gray-100 hover:text-black transition-colors duration-300">our menu</a>
        </div>
    </div>
    <div class="grid grid-cols-2">
        <div class="flex flex-col justify-center items-center px-32 text-center">
            <h1 class="text-4xl my-3 font-lora">Out Restaurant</h1>
            <p class="">
                Experience fine dining at our restaurant, where sophistication meets culinary excellence. 
                Savor meticulously crafted dishes made from the freshest ingredients, complemented by an extensive 
                wine selection. With its refined ambiance, impeccable service, and attention to detail, 
                our restaurant offers the perfect setting for special occasions or a memorable evening out.
            </p>
            <a href="#" class="uppercase border p-2 mt-3 hover:bg-gray-100 hover:text-black transition-colors duration-300">about us</a>
        </div>
        <div>
            <div>
                <img src="pexels-yuraforrat-12185048.jpg" alt="Home" class="w-full h-full object-cover">
            </div>
        </div>
    </div>
    <div class="grid grid-cols-2">
        <div>
            <div>
                <img src="jason-leung-poI7DelFiVA-unsplash.jpg" alt="Home" class="w-full h-full object-cover">
            </div>
        </div>
        <div class="flex flex-col justify-center items-center px-32 text-center">
            <h1 class="text-4xl my-3 font-lora">Book your Table</h1>
            <p class="">
                There are many seating options available, ranging from seating for two, up to 32 people for formal dining.
            </p>
            <p class="">
                In order to make a reservation for 10 or fewer guests, please use the booking form below.
            </p>
            <a href="#" class="uppercase border p-2 mt-3 hover:bg-gray-100 hover:text-black transition-colors duration-300">Make a reservation</a>
        </div>
    </div>
    <div class="grid grid-cols-2 h-screen">
        <div class="flex flex-col justify-center items-center px-32 py-12">
            <h1 class="text-4xl font-lora">Find Us</h1>
            <p class="mt-2">51 R. Quincampoix, 75004 Paris, Franța</p>
            <p class="mt-2">Monday – Friday: 12:00 pm – 11:30 pm</p>
            <p class="mt-2">Sunday: closed</p>
        </div>
        <div class="h-full">
            <iframe 
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d84026.2967638001!2d2.3097733341644315!3d48.842538171966055!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e1bfe36da53%3A0xf42ae52317d67dac!2sRestaurant%20Dans%20le%20Noir%20%3F%20Paris!5e0!3m2!1sro!2sro!4v1736706277861!5m2!1sro!2sro" 
                class="w-full h-full" 
                style="border:0;" 
                allowfullscreen="" 
                loading="lazy" 
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
    </div>    
    <div class="text-center">
        <div class="grid grid-cols-3">
            <div class="flex flex-col items-center">
                <img src="pexels-mikhail-nilov-8092566.jpg" alt="Service" class="">
                <a href="#" class="">
                    <h1 class="text-4xl font-bold mt-3 uppercase font-lora relative bottom-20">team</h1>
                </a>
            </div>
            <div class="flex flex-col items-center">
                <img src="tuqa-nabi-EPdF3xr8MZ8-unsplash.jpg" alt="Service" class="">
                <a href="#">
                    <h1 class="text-4xl font-bold mt-3 uppercase font-lora relative bottom-20">catering</h1>
                </a>
            </div>
            <div class="flex flex-col items-center">
                <img src="jordane-mathieu-q8-yKQ3P7J0-unsplash.jpg" alt="Service" class="">
                <a href="#">
                    <h1 class="text-4xl font-bold mt-3 uppercase font-lora relative bottom-20">events</h1>
                </a>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>