<div class="flex flex-col lg:flex-row items-center justify-center p-4 lg:p-20 bg-black min-h-screen">
    <div class="w-full lg:w-1/2 mb-8 lg:mb-0 lg:pr-8">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d89306.4730677749!2d25.489254613168164!3d45.61411474872295!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b3453f2e31743d%3A0xbd28dc9500b77ee9!2sNoir%20Poiana%20Brasov!5e0!3m2!1sro!2sro!4v1736680939001!5m2!1sro!2sro" 
            width="100%" 
            height="450" 
            style="border:0;" 
            allowfullscreen="" 
            loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>
    
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="w-full lg:w-1/2 flex flex-col">
        <div class="mb-4">
            <label for="name" class="block text-white mb-2">Nume</label>
            <input id="name" type="text" formControlName="name" class="w-full p-2.5 text-sm" />
            <div *ngIf="contactForm.get('name')?.invalid && contactForm.get('name')?.touched" class="text-red-500 text-xs mt-1">
            Numele este obligatoriu.
            </div>
        </div>
    
        <div class="mb-4">
            <label for="email" class="block text-white mb-2">Email</label>
            <input id="email" type="email" formControlName="email" class="w-full p-2.5 text-sm" />
            <div *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched" class="text-red-500 text-xs mt-1">
            Adresa de email este invalidă.
            </div>
        </div>
    
        <div class="mb-4">
            <label for="message" class="block text-white mb-2">Mesaj</label>
            <textarea id="message" rows="5" formControlName="message" class="w-full p-2.5 text-sm"></textarea>
            <div *ngIf="contactForm.get('message')?.invalid && contactForm.get('message')?.touched" class="text-red-500 text-xs mt-1">
            Mesajul este obligatoriu.
            </div>
        </div>
    
        <button type="submit" class="px-4 py-2.5 text-sm border text-white transition-colors" [disabled]="contactForm.invalid">Trimite</button>
    </form>
</div>  