<div class="bg-zinc-950 text-gray-100">
    <div class="grid grid-cols-2 h-screen">
        <div class="flex flex-col justify-center items-center">
            <h1 class="text-5xl font-lora mb-3">Find Us</h1>
            <h3 class="text-xl font-bold uppercase">where</h3>
            <p class="my-3">51 R. Quincampoix, 75004 Paris, France</p>
            <div>
                <a href="#" class="uppercase py-2 px-4 border mr-3 bg-gray-100 text-zinc-950 hover:bg-zinc-950 hover:text-gray-100">view map</a>
                <a href="#" class="uppercase py-2 px-4 border hover:bg-gray-100 hover:text-zinc-950">Book a table</a>
            </div>
            <h3 class="text-xl font-bold uppercase mt-4">when</h3>
            <p class="mt-3">Monday – Friday: 12:00 pm – 11:00 pm</p>
            <p class="mt-2">Saturday/Sunday 9am – 11pm</p>
        </div>
        <div class=""> 
            <img src="jason-leung-poI7DelFiVA-unsplash.jpg" alt="Home" class="w-full h-full object-cover">
        </div>
    </div>
    <div class="grid grid-cols-2">
        <div class="max-h-[40rem]">
            <img src="pexels-vanmalidate-784633.jpg" alt="Home" class="w-full h-full object-cover">
        </div>
        <div class="flex flex-col justify-center items-center p-12 text-center">
            <h1 class="text-3xl font-lora">Contact us</h1>
            <p>To get in touch fill out the contact form below or call us at +3385402852.</p>
            <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="w-full flex flex-col mt-3">
                <div class="mb-4">
                    <input id="name" type="text" formControlName="name" class="w-full p-2.5 text-sm bg-transparent border" placeholder="Name"/>
                    <div *ngIf="contactForm.get('name')?.invalid && contactForm.get('name')?.touched" class="text-red-500 text-xs mt-1">
                        The name is required.
                    </div>
                </div>
                <div class="mb-4">
                    <input id="email" type="email" formControlName="email" class="w-full p-2.5 text-sm bg-transparent border" placeholder="Email"/>
                    <div *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched" class="text-red-500 text-xs mt-1">
                        Invalid email.
                    </div>
                </div>
                <div class="mb-4">
                    <textarea id="message" rows="5" formControlName="message" class="w-full p-2.5 text-sm bg-transparent border" placeholder="Message"></textarea>
                    <div *ngIf="contactForm.get('message')?.invalid && contactForm.get('message')?.touched" class="text-red-500 text-xs mt-1">
                        The message is required.
                    </div>
                </div>
            
                <button type="submit" class="px-4 py-2.5 text-sm border text-white transition-colors max-w-[25%]" [disabled]="contactForm.invalid">Submit</button>
            </form>
        </div>
    </div>
    <app-footer></app-footer>
</div>