<div class="bg-zinc-950 text-gray-100">
    <div class="grid grid-cols-2">
        <div class="h-screen"> 
            <img src="pexels-edwardeyer-1049626.jpg" alt="Home" class="w-full h-full object-cover">
        </div>
        <div class="flex flex-col justify-center items-center p-36 text-center">
            <h1 class="text-5xl font-bold font-lora uppercase">Menu</h1>
            <p class="mt-3">
                We are passionate about sourcing fresh ingredients, 
                combining with traditional flavors and continually 
                evolving our menu to create a dining experience that 
                is truly unique.
            </p>
        </div>
    </div>
    <div>
        <div *ngFor="let category of menu; let i = index" class="">
            <div [ngClass]="{'order-1': i % 2 !== 0}" class="p-16">
                <h2 class="text-2xl font-bold mb-2">{{ category.category }}</h2>
                <p *ngIf="category.description" class="text-gray-400 italic mb-6">{{ category.description }}</p>
                <div class="space-y-4">
                    <div *ngFor="let item of category.items" class="flex justify-between">
                        <div>
                            <h3 class="font-semibold">{{ item.name }}</h3>
                            <p class="text-gray-400">{{ item.description }}</p>
                        </div>
                        <span>{{ item.price }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>