<footer class="bg-zinc-900 text-white p-8">
    <div class="grid grid-cols-4 items-start">
        <div class="flex flex-col justify-center items-center text-center">
            <h1 class="text-xl font-bold font-lora">Welcome to Noir</h1>
            <p class="mt-3">
                NOIR, founded in 2022, is dedicated to all those who love to wander far and wide. 
            </p>
            <p class="mt-3">
                We invite you on a wholesome culinary adventure, where you'll explore undiscovered gourmet experiences.
            </p>
        </div>
        <div class="flex flex-col justify-center items-center">
            <h1 class="text-xl font-lora font-bold">Visit</h1>
            <p class="my-3">51 R. Quincampoix, 75004 Paris, Franța</p>
            <h1 class="text-xl font-lora font-bold">Talk</h1>
            <p class="my-3">+3385402852</p>
            <h1 class="text-xl font-lora font-bold">Write</h1>
            <p class="">eat&#64;noir.com</p>
        </div>
        <div class="flex flex-col justify-center items-center">
            <h1 class="text-xl font-lora font-bold">Reservations</h1>
            <a href="#" class="uppercase border p-2 mt-3 hover:bg-gray-100 hover:text-black transition-colors duration-300">Make a reservation</a>
            <h1 class="text-xl font-lora font-bold mt-3">Hours</h1>
            <p class="mt-2">Monday – Friday: 12:00 pm – 11:00 pm</p>
            <p class="mt-2">Saturday/Sunday 9am – 11pm</p>
        </div>
        <div class="flex flex-col justify-center items-center">
            <h1 class="text-xl font-bold font-lora">About</h1>
            <a href="#" class="mt-2">FAQ</a>
            <a href="#" class="mt-2">Reservation Policy</a>
            <a href="#" class="mt-2">Privacy Policy</a>
            <a href="#" class="mt-2">Health & Safety</a>
        </div>
    </div>
</footer>